<!DOCTYPE html>
<html lang="en">

<head>
    <!-- include head.ejs -->
    <%- include('partials/head.ejs') %>
        <title><%=blog.title %></title>
</head>

<body>
    <!-- include nav.ejs -->
    <%- include('partials/nav.ejs') %>

    <div class="bolg">
        
    </div>

    <!-- include scripts.ejs -->
 <%- include('partials/scripts.ejs') %>
</body>
</html>